@media only screen and (max-width: 1200px){
    .container{
        width: 1140px;
    }
}

@media only screen and (max-width: 1199px){
    .container{
        width: 960px;
    }
    .header__link {
        margin: 0 0 0 15px;
    }
    .section-title__font{
        line-height: 65px;
    }
    .spiral__img {
        width: 100%;
        position: absolute;
        z-index: -1;
        top: -200px;
        left: 32%;
    }
    .numbers__body {
        margin-top: 100px;
        display: flex;
        justify-content: space-between;
    }
    .pyramids__image {
        max-width: 100%;
        left: -100px;
        top: -355px;
        position: relative;
        z-index: 0;
    }
    .numbers__line {
        width: 645px;
        margin-top: 10px;
    }
    .topside {
        padding: 50px 0px 90px 0px;
        display: grid;
        grid-template-columns: repeat(2,auto);
        column-gap: 230px;
        align-items: center;
    }
    .items {
        display: grid;
        grid-template-columns: repeat(3,33%);
        padding: 0 0 0 0;
    }
    .items-slider{
        display: none;
    }
    .cube {
        position: relative;
        top: -480px;
        left: -50px;
        z-index: -1;
    }
    .cylinder {
        max-width: 44%;
        position: relative;
        top: -840px;
        left: 580px;
        z-index: -1;
    }
    .blue-circle {
        position: relative;
        top: -190px;
        left: 50px;
        z-index: -1;
        max-width: 30%;
    }
    .understand__body{
        padding-bottom: 30px;
    }
    .orange-circles{
        max-width: 90%;
    }
    .two-piramids{
        max-width: 90%;
    }
    .price__body {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .basic__body {
        padding: 15px 0 0 15px;
        height: 450px;
        width: 450px;
        background: rgba(255, 255, 255, 0.6);
        border: 2px solid rgba(255, 255, 255, 0.4);
        box-shadow: 0px 4px 20px rgb(193 193 193 / 30%);
        border-radius: 10px;
    }
    .basic__body:hover {
        padding: 15px 0 0 15px;
        height: 450px;
        width: 450px;
        background: rgba(255, 255, 255, 0.6);
        border: 2px solid #6259EA;
        box-shadow: 0px 4px 20px rgba(193, 193, 193, 0.3);
        border-radius: 10px;
    }
    .basic__title {
        padding-bottom: 25px;
        font-size: 40px;
        color: #2D2B5C;
    }
    .price__tag {
        padding: 45px 0 0 0;
        height: 88px;
        width: 100%;
        display: inline-grid;
        grid-template-columns: 60% 40%;
        align-items: center;
    }
    .price {
        font-size: 60px;
        line-height: 70px;
        color: #2D2B5C;
    }
    .buy-now__price-tag {
        height: 60px;
        width: 140px;
        background: #6259EA;
        border-radius: 5px;
    }
    .pro__body {
        padding: 15px 0 0 15px;
        height: 450px;
        width: 450px;
        background: rgba(255, 255, 255, 0.6);
        border: 2px solid rgba(255, 255, 255, 0.4);
        box-shadow: 0px 4px 20px rgb(193 193 193 / 30%);
        border-radius: 10px;
    }
    .pro__body:hover {
        padding: 15px 0 0 15px;
        height: 450px;
        width: 450px;
        background: rgba(255, 255, 255, 0.6);
        border: 2px solid #6259EA;
        box-shadow: 0px 4px 20px rgba(193, 193, 193, 0.3);
        border-radius: 10px;
    }
    .pro__title {
        padding-bottom: 25px;
        font-size: 40px;
        color: #2D2B5C;
    }
    .mirror__blue-circle{
        left: 650px;
    }
    .team-title__body{
        column-gap: 30px;
    }
    .pink-circles{
        max-width: 100%;
    }
    .faq__body{
        padding-top: 50px;
    }
    .pink-pyramid-alone__img{
        left: 700px;
    }
    .press__title{
        column-gap: 350px;
    }
    .contact-us__body{
        grid-template-columns: 30% 1fr;
    }
    .faq__recommendation{
        margin-right: 10px;
    }
    .recommend{
        width: 100%;
    }
    .blue-circle__img {
        position: absolute;
        z-index: -1;
        top: 0px;
        left: 650px;
    }
    .social__title{
        column-gap: 350px;
    }
    .little-spital{
        left: 698px;
        max-width: 30%;
    }
}
@media only screen and (max-width: 991px){
    .container{
        width: 720px;
    }
    body.lock{
        overflow: hidden;
    }
    .header__burger{
        display: block;
        width: 30px;
        height: 20px;
        position: relative;
        z-index: 15;
        right: -150px;
    }
    .header__burger span{
        position: absolute;
        background-color: black;
        left:0px;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
    }
    .header__burger:before,
    .header__burger:after{
        content:'';
        background-color: black;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0px;
        transition: all 0.3s ease 0s;
    }
    .header__burger:before{
        top: 0px;
    }
    .header__burger:after{
        bottom: 0px;
    }
    .header__burger.active:before {
        transform: rotate(45deg);
        top: 9px;
    }
    .header__burger.active:after {
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .header__burger.active span {
        transform: scale(0);

    }
    .header__menu {
        position: fixed;
        top:-100%;
        left: 0px;
        width: 100%;
        height: 100%;
        overflow: auto;
        backdrop-filter: blur(5px);
        padding: 80px 10px 20px 10px;
        transition: all 0.4s ease 0s;
    }
    .header__menu.active {
        left: 0px;
        top: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .header__list {
        display: block;
    }
    .header__list li{
        margin: 0 0 20px 0;
    }
    .spiral__img{
        width: 81%;
        position: absolute;
        z-index: -1;
        top: -200px;
        left: 25%;
    }
    .numbers__body{
        display: flex;
        flex-direction: column;
    }
    .pyramids__image{
        width: 65%;
    }
    .numbers__leftside {
        position: absolute;
    }
    .numbers__rightside{
        position: relative;
        top: 100px;
    }
    .topside{
        padding: 0px 0 30px 0;
    }
    .cube{
        width: 25%;
        top: -550px;
        left: -50px;
    }
    .blue-circle{
        top: -110px;
        left: 50px;
    }
    .cylinder{
        top: -740px;
        left: 420px;
    }
    .features__ability{
        height: 530px;
    }
    .item1{
        width: 100%;
        height: 433px;
        padding: 30px 10px 0 10px;
        display: grid;
    }
    .item2{
        width: 100%;
        height: 433px;
        padding: 30px 10px 0 10px;
        display: grid;
    }
    .item3{
        width: 100%;
        height: 433px;
        padding: 30px 10px 0 10px;
        display: grid;
    }
    .undestand__text{
        padding-bottom: 10px;
    }
    .change__text{
        padding-bottom: 10px;
    }
    .plan__title{
        margin: 50px 0 50px 0;
    }
    .price__body{
        position: relative;
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 0;
        row-gap: 15px;
        padding-left: 100px;
    }
    .price__tag{
        grid-template-columns: 60% 40%;
        width: 100%;
    }
    .mirror__blue-circle{
        left:200px;
        top: 400px;
    }
    .team-title__body{
        max-width: 690px;
    }
    .team__title{
        max-width: 460px;
    }
    .join-see__buttons{
        max-width: 320px;
        right: 170px;
        display: grid;
        align-content: center;
        justify-items: center;
        position: relative;
        }
    .join-us__button{
            margin:0 0 15px 0;
        }
    .team__body{
        display: grid;
        grid-template: 1fr 1fr 1fr/1fr 1fr;
    }
    .talk__body{
        height: 630px;
        display: grid;
    grid-template-columns: 35% 65%;
    }
    .photo-socials__body{
        padding: 51px 0 0 10px;
    }
    .pink-pyramid-alone__img{
        top: 500px;
        left: 500px;
    }
    .press__title {
        column-gap: 140px;
    }
    .must-read-new{
        margin: 15px 0px 10px 0px;
        line-height: 25px;
        height: 25px;
        width: 100px;
    }
    .news__title {
        font-size: 25px;
        line-height: 42px;
        padding-bottom: 0px;
    }
    .contact__title{
        margin-bottom: 30px;
    }
    .support{
        color: #2D2B5C;
    }
    .form{
        padding-top: 30px;
    }
    .contact-us__body{
        display: grid;
        grid-template: 30% 1fr/1fr;
    }
    .faq__recommendation{
        display: grid;
        align-content: start;
    }
    .blue-circle__img {
        top: 250px;
        left: 400px;
    }
    .social{
        margin: 200px 0 0 0;
    }
    .social__title{
        column-gap: 50px;
        padding-bottom: 30px;
    }
    .image-slider {
        padding-bottom: 100px;
    }
    .little-spital {
        left: 521px;
        max-width: 30%;
    }
}
@media only screen and (max-width: 767px){
    .container{
        width: 540px;
    }
    .header__burger {
        right: -40px;
    }
    .header__menu.active {
        left: -20px;
        top: 0px;
    }
    .spiral__img{
        top: -150px;
        left: 20%;
    }
    .business{
        margin-top: 90px;
        margin-bottom: 20px;
    }
    .business__title{
        font-size: 70px;
        line-height: 78px;
        padding-bottom: 30px;
    }
    .business__text{
        padding-bottom: 30px;
    }
    .full-video-link{
        margin-top: 30px;
        margin-bottom: 20px;
        margin-left: 5px;
    }
    .sponsors {
        padding: 50px 0 50px 0;
    }
    .sponsors__body{
        display: flex;
        justify-content: space-around;
    }
    #logo3{
        display: none;
    }
    #logo4{
        display: none;
    }
    .numbers__body{
        margin-top: 90px;
    }
    .pyramids__image{
        top: -325px;
    }

    .numbers__rightside{
        z-index: 10;
    }
    .numbers__line{
        width: 400px;
    }
    .happy__clients{
        font-size: 25px;
        line-height: 35px;
    }
    .products__created{
        font-size: 25px;
        line-height: 35px;
    }
    .investments__received{
        font-size: 25px;
        line-height: 35px;
    }
    .result__number{
        font-size: 60px;
        padding-top: 80px;
    }
    .numbers__line2{
        margin-top: 240px;
    }
    .section-title__font{
        font-size: 60px;
    }
    .topside{
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
    }
    .swipe { 
        grid-area: swipe;
        padding-bottom: 20px;
    }
    .menu1{
        grid-area: menu1;
    }
    .menu2{
        grid-area: menu2;
    }
    .menu3{
        grid-area: menu3;
    }
    .little-spital{
        left: 292px;
        top: 0px;
    }
    .features{
        height: 650px;
    }
    .features__ability{
        height: 400px;
    }
    .items{
        display: none;
    }
    .items-slider{
        display: block;
    }
    .item__list ul{
        display: flex;
        flex-direction: column;
    }
    .item__list1{
        padding-top: 25px;
    }
    .item1{
        display: block;
    }
    .item2{
        display: block;
    }
    .item3{
        display: block;
    }
    .buy-button2{
        margin-top: 20px;
    }
    .cylinder{
        top: -690px;
        left: 240px;
    }
    .advantages__title {
        padding-bottom: 50px;
    }
    .technologies{
        margin-top: 70px;
    }
    .understand__body{
        padding-top: 0px;
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
    }
    .orange-circles{
        margin-top: -65px;
        max-width: 70%;
    }
    .understand__title{
        margin-top: -50px;
    }
    .reuse__body{
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
    }
    .change__about {
        order: 2;
    }
    .two-piramids {
        max-width: 70%;
        order: 1;
    }
    .learn__more-link{
        margin-top: 10px;
        margin-bottom: 35px;
    }
    .price__body{
        padding-left: 0px;
    }
    .basic__body{
        width: 380px;
        padding-right: 10px
    }
    .pro__body{
        width: 380px;   
        padding-right: 10px 
    }
    .price__tag{
        grid-template-columns: 60% 40%;
        width: 100%;
    }
    .basic__body:hover{
        width: 380px;
        padding-right: 10px
    }
    .pro__body:hover{
        width: 380px;    
        padding-right: 10px
    }
    .yellow__washer{
        max-width: 80%;
    }
    .mirror__blue-circle{
        left: 140px;
        max-width: 60%;
    }
    .team-title__body{
        display: grid;
        grid-template-columns: 1fr;
        padding-bottom: 30px;
    }
    .join-see__buttons{
        padding-top: 20px;
        max-width: none;
        right: 0px;
    }
    .team-photo{
        max-width: 80%;
    }
    .team-member{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .faq{
        padding-top: 0px;
    }
    .faq__titles {
        font-size: 35px;
        line-height: 40px;
    }
    .faq__text{
        font-size: 25px;
        line-height: 32px;
    }
    .pink-circles{
        display: none;
    }
    .pink-pyramid-alone__img{
        left: 210px;
    }
    .talk__title{
        padding-bottom: 40px;
    }
    .talk__body{
        height: 100%;
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
    }
    .reviewer__name{
        padding: 30px 0 0 0;
        text-align: center;
    }
    .reviewer__prof{
        text-align: center;
    }
    .reviewer__text {
        padding: 30px 10px 20px 10px;
        font-size: 25px;
        line-height: 35px;
    }
    .press__title{
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 0px;
        justify-items: center;
    }
    .view-more__button{
        margin-top: 20px;
    }
    .contact-us__body{
        max-width: 400px;
    }
    .faq__recommendation{
        max-width: 400px;
    }
    .name{
        max-width: 390px;
    }
    .email{
        max-width: 390px;
    }
    .message{
        max-width: 390px;
    }
    .submit__button{
        max-width: 390px;
    }
    .recommend{
        padding-bottom: 0px;
    }
    .yellow-washer__img{
        max-width: 85%;
    }
    .blue-circle__img {
        top: 350px;
        left: 210px;
        max-width: 50%;
    }
    .social__title{
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
    }
    .social-img {
        width: 80%;
    }
    .image-slider {
        padding-bottom: 50px;
    }
    .footer{
        padding-top: 50px;
        height: 100%;
    }
    .about__body{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 10px;
        grid-template-areas: 
        "swipe swipe swipe"
        "menu1 menu2 menu3"
       ;
    }
    .line1 {
        margin: 20px 0;
    }
}
@media only screen and (max-width: 575px){
    .container {
        width: 100%;
    }
    .header__burger {
        right: -20px;
    }
    .buy-button {
        width: 120px;
        font-size: 16px;
        line-height: 50px;
    }
    .business {
        margin-top: 70px;
    }
    .business__title {
        font-size: 50px;
        line-height: 58px;
        padding-bottom: 20px;
    }
    .section-subtitle__font{
        font-size: 25px;
        line-height: 35px;
    }
    .link__font{
        font-size: 15px;
    }
    .sponsors {
        padding: 30px 0 30px 0;
    }
    .numbers__body {
        margin-top: 110px;
    }
    .section-title__font {
        font-size: 50px;
        line-height: 55px;
    }
    .numbers__line {
        width: 350px;
    }
    .text__font {
        font-size: 16px;
    }
    .result__number {
        font-size: 50px;
    }
    .features {
        margin-top: 50px;
    }
    .item__list1 {
        padding-top: 0px;
    }
    .basic__body {
        width: 340px;
    }
    .pro__body{
        width: 340px;
    }
    .basic__body:hover{
        width: 340px;
    }
    .pro__body:hover{
        width: 340px;
    }
    .buy-now__price-tag {
        height: 50px;
        width: 120px;
    }
    .buy-now__price-tag a{
        font-size: 15px;
    }
    .price {
        font-size: 45px;
    }
    .team {
        margin: 70px 0px;
    }
    .join-us__button {
        height: 50px;
        width: 120px;
    }
    .see-all__button {
        height: 50px;
        width: 180px;
    }
    .person__name{
        font-size: 18px;
    }
    .person__prof {
        font-size: 16px;
    }
    .team {
        margin: 50px 0px;
    }
    .faq__titles {
        font-size: 30px;
        line-height: 35px;
    }
    .line__faq {
        margin: 25px 0 15px 0;
    }
    .talk {
        margin-top: 70px;
    }
    .pink-pyramid-alone__img {
        left: 170px;
        top: 550px;
    }
    .green-pyramid-alone__img {
        width: 110%;
        top: -300px;
        left: -150px;
    }
    .press__title{
        padding-bottom: 30px;
    }
    .link__body{
        margin-top: 30px;
    }
    .yellow-washer__img{
        top: -150px;
    }
    .support{
        font-size: 16px;
    }
    .faq__recommendation {
        max-width: 350px;
        height: 100%;
    }
    .blue-circle__img{
        max-width: 40%;
        left: 190px;
    }
    .name{
        max-width: 350px;
    }
    .email{
        max-width: 350px;
    }
    .message{
        max-width: 350px;
    }
    .submit__button{
        max-width: 350px;
    }
    .go-to-inst__button {
        height: 50px;
        width: 180px;
    }
    .little-spital {
        left: 256px;
    }
    .footer {
        padding-top: 30px;
        height: 70%;
    }
}