@media only screen and (max-width: 1200px){
    .container{
        width: 1140px;
    }
}

@media only screen and (max-width: 1199px){
    .container{
        width: 960px;
    }
    .section-title__font{
        line-height: 65px;
    }
    .spiral__img {
        width: 100%;
        position: absolute;
        z-index: -1;
        top: -200px;
        left: 32%;
    }
    .numbers__body {
        margin-top: 100px;
        display: flex;
        justify-content: space-between;
    }
    .pyramids__image {
        max-width: 100%;
        left: -100px;
        top: -355px;
        position: relative;
        z-index: 0;
    }
    .numbers__line {
        width: 645px;
        margin-top: 10px;
    }
    .topside {
        padding: 50px 0px 90px 0px;
        display: grid;
        grid-template-columns: repeat(2,auto);
        column-gap: 230px;
        align-items: center;
    }
    .features__ability{
        padding: 0 0 20px 0;
    }
    .items {
        display: grid;
        grid-template-columns: repeat(3,33%);
        padding: 0 0 0 0;
    }
    .cube {
        position: relative;
        top: -480px;
        left: -50px;
        z-index: -1;
    }
    .cylinder {
        max-width: 44%;
        position: relative;
        top: -840px;
        left: 580px;
        z-index: -1;
    }
    .blue-circle {
        position: relative;
        top: -190px;
        left: 50px;
        z-index: -1;
        max-width: 30%;
    }
    .understand__body{
        padding-bottom: 30px;
    }
    .orange-circles{
        max-width: 90%;
    }
    .two-piramids{
        max-width: 90%;
    }
    .price__body {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .basic__body {
        padding: 15px 0 0 15px;
        height: 450px;
        width: 450px;
        background: rgba(255, 255, 255, 0.6);
        border: 2px solid rgba(255, 255, 255, 0.4);
        box-shadow: 0px 4px 20px rgb(193 193 193 / 30%);
        border-radius: 10px;
    }
    .basic__body:hover {
        padding: 15px 0 0 15px;
        height: 450px;
        width: 450px;
        background: rgba(255, 255, 255, 0.6);
        border: 2px solid #6259EA;
        box-shadow: 0px 4px 20px rgba(193, 193, 193, 0.3);
        border-radius: 10px;
    }
    .basic__title {
        padding-bottom: 25px;
        font-size: 40px;
        color: #2D2B5C;
    }
    .price__tag {
        padding: 45px 0 0 0;
        height: 88px;
        width: 500px;
        display: inline-grid;
        grid-template-columns: 50% 30%;
        align-items: center;
    }
    .price {
        font-size: 60px;
        line-height: 70px;
        color: #2D2B5C;
    }
    .buy-now__price-tag {
        height: 60px;
        width: 140px;
        background: #6259EA;
        border-radius: 5px;
    }
    .pro__body {
        padding: 15px 0 0 15px;
        height: 450px;
        width: 450px;
        background: rgba(255, 255, 255, 0.6);
        border: 2px solid rgba(255, 255, 255, 0.4);
        box-shadow: 0px 4px 20px rgb(193 193 193 / 30%);
        border-radius: 10px;
    }
    .pro__body:hover {
        padding: 15px 0 0 15px;
        height: 450px;
        width: 450px;
        background: rgba(255, 255, 255, 0.6);
        border: 2px solid #6259EA;
        box-shadow: 0px 4px 20px rgba(193, 193, 193, 0.3);
        border-radius: 10px;
    }
    .pro__title {
        padding-bottom: 25px;
        font-size: 40px;
        color: #2D2B5C;
    }
    .mirror__blue-circle{
        left: 650px;
    }
    .team-title__body{
        column-gap: 30px;
    }
    .pink-circles{
        max-width: 100%;
    }
    .faq__body{
        padding-top: 50px;
    }
    .pink-pyramid-alone__img{
        left: 700px;
    }
    .press__title{
        column-gap: 350px;
    }
    .contact-us__body{
        grid-template-columns: 30% 1fr;
    }
    .faq__recommendation{
        margin-right: 10px;
    }
    .recommend{
        width: 100%;
    }
    .blue-circle__img {
        position: absolute;
        z-index: -1;
        top: 0px;
        left: 650px;
    }
    .social__title{
        column-gap: 350px;
    }
    .little-spital{
        left: 698px;
        max-width: 30%;
    }
}
/* stopppp */
@media only screen and (max-width: 575px){
    .container {
        width: 100%;
    }
    body.lock{
        overflow: hidden;
    }
    .header__burger{
        display: block;
        width: 30px;
        height: 20px;
        position: relative;
        z-index: 15;
        right: -50px;
    }
    .header__burger span{
        position: absolute;
        background-color: black;
        left:0px;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
    }
    .header__burger:before,
    .header__burger:after{
        content:'';
        background-color: black;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0px;
        transition: all 0.3s ease 0s;
    }
    .header__burger:before{
        top: 0px;
    }
    .header__burger:after{
        bottom: 0px;
    }
    .header__burger.active:before {
        transform: rotate(45deg);
        top: 9px;
    }
    .header__burger.active:after {
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .header__burger.active span {
        transform: scale(0);

    }
    .header__menu {
        position: fixed;
        top:-100%;
        left: 0px;
        width: 100%;
        height: 100%;
        overflow: auto;
        backdrop-filter: blur(5px);
        padding: 80px 10px 20px 10px;
        transition: all 0.4s ease 0s;
    }
    .header__menu.active {
        left: -500px;
        top: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .header__list {
        display: block;
    }
    .header__list li{
        margin: 0 0 20px 0;
    }
    .flexible-img {
        max-width: 100%;
    }
}
@media only screen and (max-width: 767px){
.container{
    width: 540px;
}
}
@media only screen and (max-width: 991px){
    .container{
        width: 720px;
    }
}